.header{
    height: 100px;
    text-align: center;
    padding: 10px;
    background:linear-gradient(
		360deg,
		#350069 30%,
		rgba(114, 5, 177, 0.42) 90%);
}
.h1{
    color: white;
    
}
.conteiner{
    margin-top: 40px;
    overflow:hidden;
    text-align: center;
    margin:auto;
    background: #350069;
}
.div1{
    display:inline-table;
    border: 5px black solid;
    border-radius: 10px;
    height:100px;
    width:100px;
    margin: 15px;
    transition: all 0.25s; 
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    
}

.div1:hover{
    transform: translateY(-15px);
}
.img{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}