#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.divMayorRegister{
 width: 400px;
 height: 500px; 
 background-color: rgb(28, 27, 27);
 display: flex;
 justify-content: center;
 align-items: center;
 border-radius: 3px;
 border-radius: 5px;
 text-align: center;
}
.titleRegister{
  margin-top: 200px;
}


.registerEmail{
  background-color: whitesmoke;
border-radius: 3px;
width: 250px;
height: 35px;
}

.registerPassword{
  border-radius: 3px;
  background-color: whitesmoke; 
  width: 250px;
height: 35px;
}


