    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
        background-color: white;
        border: 1px solid #c4c4c4;
    }

    .stars {
        display: flex;
        flex-direction: row;
    }

    .textarea {
        border: 1px solid #a9a9a9;
        border-radius: 5px;
        padding: 10px;
        margin: 20px 0;
        min-height: 100px;
        width: 300px;
    }

    .button {
        border: 1px solid #a9a9a9;
        text-decoration: none;
        background-color: #350069;
        color: white;
        border: none;
        outline: none;
        width: 100%;
        height: 40px;
        display: block;
        cursor: pointer;
        text-transform: uppercase;
        margin: 15px 0;
        width: 300px;
    }

    .button:hover {
        background-color: #9600F4;
    }