.card {
    border: 1px solid #eee;
    overflow: hidden;
    padding: 10px;
    box-shadow: 2px 8px 20px rgb(197, 197, 197);
    margin: 10px;
    transition: 0.5s linear;
  }

  .card:hover {
    box-shadow: none;
  }

  .card img {
    max-height: 300px;
    min-width: 300px;
    height: 100%;
    width: 100%;
    display: block;
    object-fit: cover;
  }

  .card h3 {
    height: 150px;
    font-size: 15px;
    margin: 10px 0;
  }

  .card h3 a{
    text-decoration: none;
    color: #333;
  }

  .card span{
    color: crimson;
    font-weight: bold;
  }

  .card p{
    margin: 10px 0;
  }

  .link{
    text-decoration: none;
    color: whitesmoke;
    border: none;
    outline: none;
    background-color: #350069;
    width: 100%;
    height: 40px;
    display: block;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
  }

  .card button{
    text-decoration: none;
    color: whitesmoke;
    border: none;
    outline: none;
    background-color: #350069;
    width: 100%;
    height: 40px;
    display: block;
    cursor: pointer;
    text-transform: uppercase;
    margin: 15px 0;
  }

  .card button:hover {
    background-color: #9600F4;
  }

