.card {
    border: 1px solid #eee;
    overflow: hidden;
    padding: 10px;
    margin: 10px;
    box-shadow: none;
    max-width: 300px;
  }
  
  .card:hover {
    box-shadow: 2px 8px 20px rgb(197, 197, 197);
    transition: 0.2s linear;
  }

  .card img {
    max-width: 250px;
    max-height: 250px;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }

  .card h3 {
    min-height: 90px;
    font-size: 15px;
    margin: 10px 0;
  }

  .card h3 a{
    text-decoration: none;
    color: #333;
  }

  .card span{
    color: crimson;
    font-weight: bold;
    font-size: 20px;
  }

  .card p{
    margin: 10px 0;
  }

  .link{
    text-decoration: none;
    color: whitesmoke;
    border: none;
    outline: none;
    background-color: #350069;
    width: 100%;
    height: 40px;
    display: block;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
  }

  .card button{
    text-decoration: none;
    color: whitesmoke;
    border: none;
    outline: none;
    background-color: #350069;
    width: 100%;
    height: 40px;
    display: block;
    cursor: pointer;
    text-transform: uppercase;
    margin: 15px 0;
  }

  .card button:hover {
    background-color: #9600F4;
  }

  .myOrder {
    width: 360px;
    padding: 24px;
    box-sizing: border-box;
    right: 0;
    background-color: white;
    top: 60px;
    bottom: 0;
    border-radius: 6px;

  }

  .imagenCarrito{
    width: 150px;
    height: 150px;
  }