.createContainer form {
display: flex;
justify-content: left;
margin-top: -50px;
}

.createContainer form input {
    width: 20em;

}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
-webkit-appearance: none; 
margin: 0; 
}
input[type=number] { -moz-appearance:textfield; }

.myProduct {
  padding: 10px;
}

.myProduct img {
    height:100px;
    width: auto;
    box-shadow: 0 0 4px;

}

.myProduct button {
  position: absolute;
  margin-top: 0px;
  margin-left: -20px;
  font-size: 15px;
  border-radius: 50rem;
  border: none;
  background: rgb(202, 202, 202);
  cursor: pointer;
}

.myProduct button:hover {
  opacity: 0.9;
}

.showProduct { 
    position: relative;
    margin-left: -5rem;
    padding-left: 100px;

   
}
.showImg { 
  position: relative;
  margin-left: -5rem;
  padding: 100px 100px 10px 100px;
  
 
}
.showImg img {
    height: 300px;
    width: auto;
    box-shadow: 0 0 4px;
  }

.boxInput {
    position: relative;
    padding: 100px;
}

.name {
    position: relative;
    margin-left: 24rem;
    margin-top: -24rem;
}

.stock {
    position: absolute;
    margin-left: 25rem;
    margin-top: 80px;
   
  }
.price {
    position: absolute;
    color: black;
    margin-left: 25rem ;
  }



.description {
    position: relative;
     margin-left: 2rem;
     margin-top: 18rem;
  }


.errors {
    margin-top: -2px;
    margin-left: 100px;
    color: red;
    font-size: 10px;
  }

.category {
box-shadow: 0 0 4px;
gap: 40px;
margin-top: 20px;
}

.category button {
  position: absolute;
  margin-top: -40px;
  font-size: 15px;
  border-radius: 50rem;
  border: none;
  background: rgb(202, 202, 202);
  cursor: pointer;
  margin-left: 18rem;
}

.category button:hover  {
  opacity: 0.9;
}



 