
.container{
    width: 90%;
    gap: 15px;
    margin: auto;
    /* padding: 50px 20px; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, auto);
    grid-template-areas: "containerOne containerTwo";
}
.container .containerOne{
    grid-area: containerOne;
    /* border: 1px solid red; */
}
.errors {
    color: red;
    font-size: 10px;
    text-align: center;
  }
  .category {
    box-shadow: 0 0 4px;
    gap: 40px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    }
    .category p{
      margin: 0;
      text-align: center;
      width: 90%;
    }
    .category button {
    width: 10%;
    font-size: 15px;
    border-radius: 50rem;
    width: 25px;
    height: 25px;
    border: none;
    background: rgb(202, 202, 202);
    cursor: pointer;
    }
    
    .category button:hover  {
    opacity: 0.9;
    }
.container .containerTwo{
    grid-area: containerTwo;
    border: 1px solid #c4c4c4;
    border-radius: 10px;
    margin: 100px auto;
    padding: 15px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    
}
.container .containerTwo .containerImg{
    width: 210px;
    height: 210px;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container .containerTwo .containerImg .showImg {
    width: 200px;
    border-radius: 5px;
  }
.container .containerTwo .containerImg .showImg img {
    max-height: 200px;
    max-width: 200px;
    box-shadow: 0 0 4px;
    object-fit: cover;
    border-radius: 5px;
    
}
.container .showProduct { 
    border-radius: 5px;
    width: 100%;
    max-height: 250px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .container .showProduct h2{
    font-size: 28px;
    max-width: 100%;
    height: 28px;
    padding-bottom: 10px;margin-bottom: 10px;
  }
  .container .showProduct label{
    width: 100%;
    border-bottom: 1px solid #c4c4c4;
  }


@media screen and (max-width: 758px) {
    .container{
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, auto);
        grid-template-areas: "containerOne"
                             "containerTwo";
    }
    .container .containerOne{
        grid-area: containerOne;
        width: 100%;
        
    }
    .container .containerTwo{
        width: 100%;
        grid-area: containerTwo;
        margin: 0;
        margin-bottom: 20px;
    }
}