    .createContainer form {
    display: flex;
    justify-content: left;
    margin-top: 50px;
    }
    
    .createContainer form input {
        width: 20em;
    
    }

    
    .boxInput {
        position: relative;
        padding: 100px;
    }
    
    .errors {
        margin-top: -2px;
        margin-left: 100px;
        color: red;
        font-size: 10px;
      }
    

    
    
     