.container{
    border-radius: 1%;
   background-color: #F5EEF8;
   margin-top: 20px;
}
#containerTwo{
    display: flex ;
    flex-direction: column;
    justify-content: space-between;
    border: white 2px ridge;
    border-radius: 2%;
    margin-top: 40px;
    text-align: center;
}
.title{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-bottom: white 2px ridge;
    text-align: center;
}
#title{
    margin-top: 30px;
}
.price{
    height: 50px;
    padding-top: 15px;
    font-size: 40px;
    color: #54D713 ;
}

#stock{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 600;
}

#btn{
    width: 70%;
    margin: auto;
}
.btn{
    margin-top:5px;
}
.d{
    
    border-radius: 2%;
}
#containerTree{
    margin-bottom: 20px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
#img{
    display: flex;
    width: 100px;
    margin-left: 35%;
    margin-bottom: 30px;
}
#description{
    border: white 2px ridge;
    border-radius: 2%;
    min-height: 100px;
    max-height: 150px;
}
.form-label{
    font-size: 20px;
    font-weight: bold; 
    margin-left: 4%;
}
#containerFive{
    margin: 20px 0 20px 0;
}

#slider{
    margin-top: 40px;
}