.header{
    height: 100px;
    text-align: center;
    padding: 10px;
    background:#350069;
}
.h1{
    color: white;
}
.h2{
    color: white;
    background-color: black;
}
.conteiner{
    margin-top: 40px;
    overflow:hidden;
    text-align: center;
    margin:auto;
    background: #350069;
    
}
.div1{
    display:inline-table;
    border-radius: 10px;
    margin: 50px;
    transition: all 0.25s; 
    background-color: #350069;
    color: #FFFFF3;
}
.div1:hover{
    cursor: pointer;
    
}
.img{
    margin-top: 0;
    width: 300px;
    border-radius: 5px;
}
.img:hover {
    opacity: 0.5;
  }