::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-track {
    background: #440363;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #ca6add;
    border-radius: 20px;
    border: 3px solid #440363;

  }

.container{
    background-color: #ececec;
    width: 100%;
    margin:auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: "carousel"
                         "category"
                         "products";   
}
.container .carousel{
    grid-area: carousel;
}
.container .category{
    grid-area: category;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 40px 10px;
    gap: 15px;
}
.container .category div{
    border-radius: 10px; 
    width: 75vw;
    max-width: 350px;
    max-height: 250px;
    background-color: white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
    font-size: 18px!important;
    color: #2b2b2b;
    font-weight: 700;
}
.container .category div:hover{
    cursor: pointer;
}
.container .category div h3{
    font-size: 25px;
    text-align: center;
}
.container .category div img{
    object-fit: contain;
    width: 100%;   
    max-height: 100%;
    border-radius: 5px;
}
.container .category div img:hover{
    opacity: 0.8;
}
.container .products{
    grid-area: products;
}

@media (max-width: 768px) {
    .container .category{
        margin: 10px 5px;
    }
    .container .category div img{
        object-fit: contain;
        width: 100%;
    }
    .container .category div{
        margin: 10px auto;
    }
} 