
.h1{
    color: white;
}
.h2{
    color: white;
    background-color: rgb(44, 44, 44);
    display: flex;
    justify-content: center;
    align-items: center;
}
.conteiner{
    margin-top: 40px;
    overflow:hidden;
    text-align: center;
    margin:auto;
    background: #FFFFF3;
}
.div1{
    text-align: center;
    display:inline-block;
    border-radius: 10px;
    margin: 50px;
    transition: all 0.25s; 
<<<<<<< HEAD
    background-color: #9600F4;
    color: whitesmoke;
    border: 5px solid rgb(41, 40, 40);
=======
    background-color: #350069;
    color: #FFFFF3;
>>>>>>> c2f2e7594d78c3f7dafea4ebd6c6bd412489d221
    
}
.div1:hover{
    cursor: pointer;
    
}
.img{
    margin-top: 0;
    width: 300px;
<<<<<<< HEAD
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.select{
float: right;

}
=======
    border-radius: 5px;
}
.img:hover {
    opacity: 0.5;
  }
>>>>>>> c2f2e7594d78c3f7dafea4ebd6c6bd412489d221
