.background{
    background-color: #482857;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    word-wrap: break-word ;
  }
  .inputStyle{
    width: 300px;
    height: 40px;
    background-color: #00000052;
    border-radius: .5rem;
    padding:20px;
    margin-bottom: 5px;
    border: 2px solid transparent;
    font-size: 1rem;
    transition: border-color .3s cubic-bezier(.25,.01,.25,1) 0s, color .3s cubic-bezier(.25,.01,.25,1) 0s,background .2s cubic-bezier(.25,.01,.25,1) 0s;
     }
     .divMayorLogin{
        width: 400px;
        height: 500px; 
        background-color:#d6d6d6;
        border-radius: 15px;
        justify-content: center;
        align-items: center;
        display: flex;
        box-shadow: 0 0 0  2.8px white;
        padding: 10px;
         }
         .image{
            display: flex;
            justify-content: center;
            align-items: center;
            position: static;
          }

          .parrafo{
           font-weight: bold;
           color: #424141; 
          }

          .loginBoton{
            font-weight: bold;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          .titleAlert{
           font-weight: bold;
           color: #2c2c2c;
          }
          .dinoVolador{
           background-image: url('../assets/dinoVolador.png'); 
          }

          .forgotPass{
            display: none;

          }

          .buttonKey{
            border: none;
            outline: none;
            background-color:transparent;
            font-size: 15px;
          }
          .buttonKey:hover{
            color: #482857;
          }

          .forgotPassEnab{
            display: block;
         
          }