.purchaContainer{
    box-shadow: 0px 0px 10px black;
    margin-top: 60px;
    margin-bottom: 100px;
    gap: 40px;
    width: 400px;
    justify-content: center;
    margin-left: 380px;
    background-image: url('../assets/dino.png');
    background-size: 350px;
    background-repeat: no-repeat;
    height: 400px;
}

.boxContainer {
    display: block;
    margin-top: 10px;
}

.msg {
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.btn {
    justify-content: center;
    display: flex;
    margin-bottom: 20px;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 300px;
    cursor: pointer;
}

.button{
    background: blue;
    color: white;
}