*{
box-sizing: border-box; 
margin: 0;
padding: 0;
}

.divMayorRegister{
    width: 400px;
    height: 520px; 
    background-color:#FFFFF3;
    border-radius: 3px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
   }
   .titleRegister{
     margin-top: 200px;
   }
   
   
   .inputStyle{
     background-color: whitesmoke;
   border-radius: 3px;
   width: 250px;
   height: 40px;
   }
   
   
   
   .errorButton{
    border-color: red; 
   }
   
   .godButton{
    border-color: rgb(125, 241, 150); 
   }


   .parrafo{
  color: rgb(43, 43, 43);
  font-weight: bold
   }


  .background{
    background-color: #E5E0AC;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .botoncito{
    width: 100px;
    height: 35px;
  }

  .logoRegister{
    transform: translate(20px,30px); 
  }
