

/* .cart {
    border: 1px solid #eee;
    overflow: hidden;
    padding: 10px;
    box-shadow: 2px 8px 20px rgb(197, 197, 197);
    margin: 10px;
    transition: 0.5s linear;
    width: 300px;
    
  }

  .cart:hover {
    box-shadow: none;
  }

  .cart img {
    max-width: 300px;
    max-height: 300px;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }

  .cart h3 {
    height: auto;
    font-size: 25px;
    margin: 10px 0;
  }

  .cart h3 a{
    text-decoration: none;
    color: #333;
  }

  .cart span{
    color: crimson;
    font-weight: bold;
  }

  .cart p{
    margin: 10px 0;
  } */

  /* .cart button{
    align-items: center;
    text-decoration: none;
    color: whitesmoke;
    border: none;
    outline: none;
    background-color: #350069;
    width: 100px;
    height: auto;
    display: block;
    cursor: pointer;
    text-transform: uppercase;
    margin: 15px 0;
  } */

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

}

.boton{
  margin-left: 50px;
}

.total{
  background: #9b67bb;
}

.card-title{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  color: black;
  background:#9600F4;
  padding: 15px;
  border-radius: 25px;
  width: 100%;
  
}

.card-img-top{
  width: 320px;
  height: 340px;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}

.contenedor-cart{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

}

.contenedor{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  margin-bottom: 20px;
  width: 300px;
  margin: 50px;
}


.contenedor>div {
  box-shadow:  0px 0px 5px 0px rgba(0,  0, 0, 0.75);
  background-color: #9600F4;
  border-radius: 20px;
}

.informacion {
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  margin: 5px;
  font-weight: 200;
}

.name{
  font-weight: 300;
  color: white;
}


