DB_USER=postgres
DB_HOST=localhost
DB_PASSWORD=root
DB_PORT=5432
DB_NAME=pfinal
PORT=3005
SECRETO=thisissalts
PAYPAL_API_CLIENT = AWY7lbLiBQ7b8RcoUxqc6D1pe44b8n5EArjPiy5B9U5CfOZo0qY1BLq9UFzaslO11gUfxg0adTSl96wW
PAYPAL_SECRET = EHfA8GGDpxtf11k_tgZSKcWyAQZVmCyNRi7uY7VTQ8OA9dHiLCZ3QFvQOEI8GjzIZOv8Bvq7cSbE0HfU
PAYPAL_API = https://api-m.sandbox.paypal.com
JWT_SECRETO=0G9r8O7u6P5p4R3o2J1e0C9t8
CLOUD_NAME=di8j5hytq
CLOUD_KEY=378538562575656
CLOUD_KEY_SECRET=8K9U8aGiR_j5WqnN5TClvnRAAjg
EMAIL_USER=finalp439@gmail.com
EMAIL_PASSWORD=gvoiwiuljbxhhpmd
BACK_URL=http://localhost:3005
FRONT_URL=http://localhost:3000
